.cardRow{
    background-color: #13203B;
}

.cardCol{
    padding: 60px 10px;
} 
.cardCol p{
    font-size: 15px;
}

/* Responsive */
@media screen and (max-width:767px) {
    .cardCol{
        padding: 50px 8px;
    }
    .cardCol h5{
        font-size: 17px;
    }
    .cardCol p{
        font-size: 12px;
    }
}
@media screen and (max-width:575px) {
    
    .cardCol h5{
        font-size: 18px;
    }
    .cardCol p{
        font-size: 14px;
    }
   
}