h2,h3{
    font-family: 'Kanit', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 200;
}
.about-us-bg{
    padding-top: 100px;
    padding-bottom: 100px;
     background-color: #F1F0ED;
     /* height: 40vh; */
}
/* .containertwo{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
} */
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 23px;
    height: 23px;
    background: #4fc3dc;
    margin: 0 11px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #0bc2eb44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;    
    animation-duration: calc(125s / var(--i));        
}

@keyframes animate
{
    0%
    {
        transform: translateY(80vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}


.timeline-section{
   padding-top: 100px;
}
.timeline-items{
    max-width: 1000px;
    position: relative;
}
.timeline-items::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    /* width: 100%; */
    position: relative;
}
.timeline-item:last-child{
    bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    width: 16px;
    height: 16px;
    background-color: #0c0e74;
    /* box-shadow: 0 0 0 rgba(66, 2, 2, 0.781); */
    position: absolute;
    animation: pulse 3s infinite;
    left: calc(50% - 8px);
    border-radius: 10px;
    top: 10px;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(60, 44, 204, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(44, 119, 204, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(44, 73, 204, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(60, 44, 204, 0.4);
      box-shadow: 0 0 0 0 rgba(60, 44, 204, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(44, 119, 204, 0);
        box-shadow: 0 0 0 10px rgba(44, 119, 204, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(44, 73, 204, 0);
        box-shadow: 0 0 0 0 rgba(44, 73, 204, 0);
    }
  }
.timeline-date{
    font-size: 30px;
    font-weight: 500;
    color: chocolate;
    margin: 6px 0 20px;
}
.timeline-content{
    background-color: rgb(51, 51, 70);
    padding: 30px;
    border-radius: 10px;
}

/* responsive */
@media screen and (max-width:767px) {
    .timeline-items::before{
        left: 15px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: -4px;
    }
}
@media screen and (max-width:420px) {
    .timelinetext p{
        font-size: 13px;
    }
}