.navber{
   background-color:#13203B ;
}

/* .background{
   background-color: rgb(0, 0, 0);
   width: 100%;
   height:80vh;
   
}

.navbar-two{
   background-color:transparent;
   width: 100%;
   position: fixed;
   z-index: 11;
   animation: reveal 0.5s ease;
}
@keyframes reveal {
   0%{
      transform: translateY(-100%);
   }
   100%{
      transform: translateY(0%);
   }
}
.navbar-two.active{
   background-image: linear-gradient(120deg, rgba(19,35,56,1) 38%, rgba(2,0,36,1) 100%);
}
.navbar-collapse-two{
   flex-grow: 0;
}
.text{
   height: 60vh;
   display: grid;
   place-items: center;
}
.first-btn{
    background: linear-gradient(120deg, rgba(19,35,56,1) 38%, rgba(2,0,36,1) 100%);
    font-size: 13px;

}
















 */
