.slider-container{
    position: relative;
    background-color: rgb(17, 20, 49);
}
.slider-container .slick-list{
    padding: 40px 60px  !important;  
}
.center .slick-center img{
     transform: scale(1.25);
    transition: 0.5s ease;
    opacity: 1;
    z-index: 3 !important;
}

.img-div{
    height: 200px ;
    width: 380px !important;
    cursor: grab;
    transform: scale(0.8);
    z-index: 0 !important;

}
.img-div:focus{
    outline: none;
}
.img-div img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.frame-div{
    background-image: url("/src/images/photoFrame.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 392px;
    height: 200px;
    transform: scale(1.15);
    z-index: 3;
    top: 45px;
    left: 36%;
    pointer-events: none;
}
